<div class="page-header">
  <h1>Tweets</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newTweetsPath() %>" class="btn btn-primary">Create New Tweet</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Message</th>
  <th>Author </th>
  <th>Created At&nbsp;</th>
  <th>Likes</th>
  <th> </th>
  </thead>
  <tbody>
  <%= for (tweet) in tweets { %>
  <tr>
    <td><%= tweet.Message %></td>
    <td><%= tweet.Author %></td>
    <td><%= tweet.CreatedAt %></td>
    <td><%= tweet.LikeCount %></td>
    <td>
      <div class="pull-right">
        <%= form_for(tweet, {action: likesPath(), method: "POST"}) { %>
            <input name="TweetID" value="<%=tweet.ID%>" hidden="true"/>
            <input name="UserID" value="<%=tweet.UserID%>" hidden="true"/>
            <button class="btn btn-primary" role="submit">Like</button>
        <% } %>
      </div>
    </td>
  </tr>
  <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>