<div class="page-header">
  <h1>Tweet Content</h1>
</div>

<ul class="list-unstyled list-inline">
  <li><a href="<%= tweetsPath() %>" class="btn btn-info">Back to all Tweets</a></li>
  <li><a href="<%= editTweetPath({ tweet_id: tweet.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= tweetPath({ tweet_id: tweet.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>UserID</strong>: <%= tweet.UserID %>
</p>
<p>
  <strong>Message</strong>: <%= tweet.Message %>
</p>
