<div class="page-header">
  <h1>Twit </h1>
</div>

<ul class="list-unstyled list-inline">
  <li><a href="<%= twitsPath() %>" class="btn btn-info">Back to all Twits</a></li>
  <li><a href="<%= editTwitPath({ twit_id: twit.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= twitPath({ twit_id: twit.ID })%>" data-method="DELETE" data-confirm="Are you sure?"
         class="btn btn-danger">Destroy</a>
</ul>
<!--
<p>
  <strong>Id</strong>: <%= twit.ID %>
</p>
-->
<p>
  <strong>Message</strong>: <%= twit.Message %>
</p>
<p>
  <strong>Created At</strong>: <%= twit.CreatedAt %>
</p>
<p>
  <strong>Updated At</strong>: <%= twit.UpdatedAt %>
</p>
